<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @docset.description %>
</p>

<p>
  <strong>Document date:</strong>
  <%= @docset.document_date %>
</p>

<p>
  <strong>Document currency:</strong>
  <%= @docset.document_currency %>
</p>

<p>
  <strong>Document amount:</strong>
  <%= @docset.document_amount %>
</p>

<p>
  <strong>Shipment date:</strong>
  <%= @docset.shipment_date %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @docset.country_of_origin %>
</p>

<p>
  <strong>Incoterms:</strong>
  <%= @docset.incoterms %>
</p>

<p>
  <strong>Shipment from:</strong>
  <%= @docset.shipment_from %>
</p>

<p>
  <strong>Port of loading:</strong>
  <%= @docset.port_of_loading %>
</p>

<p>
  <strong>Port of discharge:</strong>
  <%= @docset.port_of_discharge %>
</p>

<p>
  <strong>Final destination:</strong>
  <%= @docset.final_destination %>
</p>

<p>
  <strong>Goods description:</strong>
  <%= @docset.goods_description %>
</p>

<p>
  <strong>Consignee:</strong>
  <%= @docset.consignee %>
</p>

<p>
  <strong>Shipper:</strong>
  <%= @docset.shipper %>
</p>

<p>
  <strong>Notify party:</strong>
  <%= @docset.notify_party %>
</p>

<p>
  <strong>Issuing bank:</strong>
  <%= @docset.issuing_bank %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @docset.remarks %>
</p>

<p>
  <strong>Lccreate:</strong>
  <%= @docset.lccreate_id %>
</p>

<%= link_to 'Edit', edit_docset_path(@docset) %> |
<%= link_to 'Back', docsets_path %>
